<nav class="navbar navbar-light bg-light p-0">
  <a class="navbar-brand p-2 border-right" routerLink='/hud'>
    <img src="assets/imgs/logo.png" class="d-inline-block align-top navbar__logo">
  </a>
  <nav class="nav p-1">
    <a class="border-bottom p-1" *ngFor="let item of routeItems" (click)="activateRouteItem(item)"[ngClass]="[isCurrentPage(item) ? 'border-warning' : 'border-light', item.group?'ml-2 pl-2':'']">
      <img [attr.src]="'assets/imgs/icons/'+item.id+'.png'" class="d-inline-block align-top navbar__icon">
    </a>
  </nav>
  <span class="d-none">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
  </span>
</nav>
<!--p><ngb-progressbar height="2px" type="success" [value]="25"></ngb-progressbar></p-->