export const environment = {
  production: true,
  self: 'http://${COMPONENT_PARAM_HOST}:${COMPONENT_PARAM_PORT}',
  storage: {
    token: 'token'
  },
  services: {
    bind: {
      apiUrl: 'http://${COMPONENT_PARAM_AUTH_HOST}:${COMPONENT_PARAM_AUTH_PORT}/api/v1'
    },
    api: {
      apiUrl: 'http://${COMPONENT_PARAM_API_HOST}:${COMPONENT_PARAM_API_PORT}/api/v1'
    }
  }
};
